:root {
    --bg-color-1: #f00000;
    --bg-color-2: #fff;
    --bg-color-3: #e3ebe8;
    --color-1: #f00000;
    --color-2: #fff;
    --color-3: #000;
    --link-color-1: #007bff;
    --underline-color-1: #f00000;
}

/*--- 
Color Utilities 
---*/
.bg-color-1 {
    background-color: var(--bg-color-1) !important;
}

.bg-color-2 {
    background-color: var(--bg-color-2) !important;
}

.bg-color-3 {
    background-color: var(--bg-color-3) !important;
}

.color-1 {
    color: var(--color-1) !important;
}

.color-2 {
    color: var(--color-2) !important;
}

.color-3 {
    color: var(--color-3) !important;
}

.underline-color-1 {
    border-bottom: 1px solid var(--underline-color-1) !important;
}

/*--- 
Other Utlities 
---*/

.link {
    color: var(--link-color-1) !important;
    fill: var(--link-color-1) !important;
}

/*--- 
Header logo
---*/

#header-logo {
    max-width: 108px;
}

/*--- 
Image overlay
---*/
.img-overlay {
    cursor: pointer;
    background-color: var(--bg-color-1);
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

