<div class="row bg-color-3 mb-2">
    <div class="col-12 col-lg-6 p-0 position-relative">
            {{events_and_organisers.row_1.img_html}}
        <div class="img-overlay position-absolute d-flex justify-content-center align-items-center p-3 w-100 h-100">
            <span class="color-2">{{events_and_organisers.row_1.img.alt}}</span>
        </div>
    </div>
    <div class="col-12 col-lg-6 overflow-above-breakpoint">
        <div class="p-2">
            <div class="fs-3 pb-3 fw-light fst-italic">{{events_and_organisers.row_1.title}}</div>
            {% for e in events %}
            <div class="mb-3 d-flex align-items-top">
                <b class="me-3">{{ e['date-DD.MM.YY'] }}</b>
                <div class="w-100">
                    {% if e.url_event_website %}
                    <b>
                        <a href="{{ e.url_event_website }}" target="_blank" class="link">{{ e.name }}</a>
                    </b>
                    {% else %}
                    <b>{{ e.name }}</b>
                    {% endif %}
                    
                    {% if e.url_slammer_signup %}
                    <div class="mt-2 ms-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trophy-fill" viewBox="0 0 16 16">
                            <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5q0 .807-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33 33 0 0 1 2.5.5m.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935m10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935"/>
                          </svg>
                        <small>
                            <a href="{{ e.url_slammer_signup }}" target="_blank" class="ms-1 link">{{events_and_organisers.row_1.slammers_wanted}}</a>
                        </small>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <span>
                {{ events_and_organisers.row_1.list_empty }} 
            </span>
            {% endfor %}
            {% if events %}
            <hr>
            {% endif %}
            <span>
                {{ events_and_organisers.row_1.list_footer }}
            </span>
        </div>
    </div>
</div>