<div id="topOfPage"></div>
<nav class="navbar sticky-top navbar-expand-md">
  <div class="container">
    <a id="navbar-logo" class="navbar-brand js-scroll-trigger" href="#topOfPage">
      <img src="../static/img/logo_nav.png" alt="Navigation home">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarResponsive" class="fs-4 navbar-collapse collapse">
      <ul class="navbar-nav ms-auto text-end">
        <li class="nav-item my-auto ms-2">
          <a class="nav-link js-scroll-trigger" href="#">Science Slam</a>
        </li>
        <li class="nav-item my-auto ms-2">
          <a class="nav-link js-scroll-trigger" href="#">Netzwerk</a>
        </li>
      </ul>
    </div>
  </div>
</nav>